<div class="limiter">
  <div class="container-login100 page-background">
    <div class="wrap-login100">
      <form class="">
        <span class="login100-form-title p-b-34 p-t-27">
          Forgot Password
        </span>
        <div class="wrap-input100 ">
          <input class="input100" type="text" placeholder="Please Enter  Resgistered Email Id or Phone">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="container-login100-form-btn">
        </div>
        <button class="login100-form-btn">
          <a href="new_password.html">Submit</a>
        </button>
      </form>
    </div>
  </div>
</div>
