<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <!-- logo start -->
    <div class="page-logo">
      <a routerLink="/">
        <img alt="" src="assets/img/logo.png" width="190px">
         </a>
    </div>
    <!-- logo end -->
    <ul class="nav navbar-nav navbar-left in">
      <li><a  class="menu-toggler   sidebar-toggler"><i class="icon-menu"></i></a></li>
    </ul>

    <!-- start mobile menu -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse">
      <span></span>
    </a>
    <!-- end mobile menu -->
    <!-- start header menu -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
          <a href="javascript:;" class="dropdown-toggle" data-bs-toggle="dropdown"
            data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle " src="assets/img/user.png" />
            <span class="username username-hide-on-mobile"> {{admin_login?.admin_fname | titlecase}} {{admin_login?.admin_lname | titlecase}} </span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default animated jello">
            <li routerLink="/app/profile">
              <a>
                <i class="icon-user"></i> Profile </a>
            </li>
            <li class="divider"> </li>

            <li (click)="logout()">
              <a>
                <i class="icon-logout" ></i> Log Out </a>
            </li>
          </ul>
        </li>
        <!-- end manage user dropdown -->
      </ul>
    </div>
  </div>
</div>
<!-- end header -->
